/* Impostazioni generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Geist Mono',monospace; /* Utilizzo di Roboto come font base */
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4; /* Colore di sfondo predefinito */
    padding: 20px;
}

/* Navbar */
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a:hover {
    color: #0056b3;
}

/* Stile della foto del profilo */
.profile-photo {
    width: 150px;  /* Dimensione predefinita per schermi più grandi */
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Adattamenti per schermi piccoli */
@media (max-width: 768px) {
    .profile-photo {
        width: 200px;  /* Dimensione ridotta per schermi più piccoli */
        height: auto;
    }
}

/* Contenuto dell'header */
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text-content {
    max-width: 60%;
}

/* Sezioni di contenuto */
section {
    margin-top: 30px;
    margin-bottom: 50px; /* Aumenta il margine inferiore per più spazio tra le sezioni */
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Social icons style */
.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a {
    color: #0073e6;
    font-size: 32px; /* Dimensione delle icone social */
}

.social-icons a:hover {
    color: #004a99;
}

/* Tema Chiaro (Default) */
body {
    background-color: #fff; /* Sfondo chiaro */
    color: #333; /* Testo scuro */
}

.fas.fa-moon {
    display: none; /* Nasconde l'icona della luna in tema chiaro */
}

/* Tema Scuro */
body.dark-theme {
    background-color: #333; /* Sfondo scuro */
    color: #fff; /* Testo chiaro */
}

body.dark-theme .fas.fa-sun {
    display: none; /* Nasconde l'icona del sole in tema scuro */
}

body.dark-theme .fas.fa-moon {
    display: inline; /* Mostra l'icona della luna in tema scuro */
}

body.dark-theme nav ul li a {
    color: #fff; /* Colore dei link in tema scuro */
}

body.dark-theme nav ul li a:hover {
    color: #ddd; /* Colore dei link al hover in tema scuro */
}

body.dark-theme section {
    background: #424242; /* Sfondo delle sezioni in tema scuro */
}

a {
    font-family: 'Geist Mono', monospace; /* Usa Roboto per i link */
    color: #335a66; /* Un grigio scuro per un aspetto più sottile */
    text-decoration: blink; 
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out; /* Transizione morbida per il colore e una leggera trasformazione */
}

/* Effetto al passaggio del mouse */
a:hover {
    color: #568fa1; 
    transform: scale(1.5); /* Aumenta leggermente la dimensione per dare enfasi */
}

/* Regole base per i link */
a {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    text-decoration: none; /* Rimuovi la sottolineatura predefinita */
}

/* Tema Chiaro (Default) */
.light-theme a {
    color: #568fa1; /* Blu per il tema giorno */
}

.light-theme a:hover {
    color: #568fa1; /* Blu scuro al hover per il tema giorno */
    text-decoration: blink; /* Sottolineatura al hover nel tema giorno */
}

/* Tema Scuro */
.dark-theme a {
    color: #c288bb; /* Grigio chiaro per il tema notte */
}

.dark-theme a:hover {
    color: #7f3a7a; /* Grigio più scuro al hover per il tema notte */
    text-decoration: blink; /* Sottolineatura al hover nel tema notte */
}

ul {
    padding-left: 20px; /* Aumenta il padding a sinistra per allineare meglio gli elenchi */
    margin-bottom: 20px; /* Spazio aggiuntivo sotto l'intero elenco */
}

ul li {
    margin-bottom: 10px; /* Aumenta lo spazio tra gli elementi dell'elenco */
    line-height: 1.6; /* Migliora la leggibilità aumentando l'altezza della linea */
}

#working-papers .abstract {
    font-size:smaller ;  /* Dimensione del font più piccola */
    color: #757575;      /* Un colore più chiaro per un testo più light */
    font-weight: lighter; /* Peso del font normale per distinguerlo dal titolo grassetto */
    margin-top: 10px; /* Un piccolo margine superiore per separarlo dal titolo */
    margin-bottom: 20px; /* Margine inferiore per spazio prima del prossimo elemento */
    line-height: 1.4;
}

#working-papers h2 {
    color: #333;
}

#working-papers ul {
    list-style-type: square; /* Stile degli elenchi per differenziare */
}

#working-papers strong {
    font-style:initial ; /* Rimuove il corsivo */
    color: #080909; /* Imposta un colore più scuro per maggiore enfasi */
    font-weight: bold; /* Assicurati che il titolo sia in grassetto */
    font-size: 1.2em; /* Imposta una dimensione coerente con altri titoli */

}


.dark-theme #working-papers h2 {
    color: #ffffff; /* Colore bianco per i titoli delle sezioni */
}

.dark-theme #working-papers strong {
    color: #ffffff !important; /* Forza il colore bianco */
}

/* Abstract in Modalità Notte */
.dark-theme #working-papers .abstract {
    color: #bbbbbb !important; /* Grigio chiaro per leggibilità */
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.3em; /* Riduci leggermente i titoli su dispositivi più piccoli */
    }

    #working-papers strong {
        font-size: 1.1em; /* Titoli leggermente più piccoli */
    }

    #working-papers .abstract {
        font-size: 0.7em; /* Abstract più piccolo su schermi piccoli */
    }
}

#research .abstract {
    font-size:smaller ;  /* Dimensione del font più piccola */
    color: #757575;      /* Un colore più chiaro per un testo più light */
    font-weight: lighter; /* Peso del font normale per distinguerlo dal titolo grassetto */
    margin-top: 10px; /* Un piccolo margine superiore per separarlo dal titolo */
    margin-bottom: 20px; /* Margine inferiore per spazio prima del prossimo elemento */
    line-height: 1.4;
}

.dark-theme #research h2 {
    color: #ffffff; /* Colore bianco per i titoli delle sezioni */
}

.dark-theme #research strong {
    color: #ffffff !important; /* Forza il colore bianco */
}

/* Abstract in Modalità Notte */
.dark-theme #research .abstract {
    color: #bbbbbb !important; /* Grigio chiaro per leggibilità */
}